* {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

/*NAV BAR*/

header img{
  position: absolute;
  z-index: 1;
  height: 23vh;
  padding-top: 25px;
  left: 41vw;
}

.navbar {
  position: absolute !important;
  top: 22vh;
  left: 0;
  right: 0;
  z-index: 3;
}

.nav li {
  padding-left: 20px;
  margin-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav li:last-child {
  padding-right: 20px;
  margin-right: 20px;
}

.nav li a {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav li a:hover, .active {
  color: #00ccc3;
  text-decoration: none;
}

header h1 {
  text-align: center;
  padding-top: 50px;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed !important;
  background-color: #222328;
  width: 100%;
  left: 0;
  right: 0;
  transition: .3s;
}

/*CAROUSEL*/

.carousel {
  height: 100vh;
  overflow: hidden;
}

.carousel-item img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*HOME CONTENT*/

.home-png {
  position: absolute;
  z-index: 2;
  top: 40vh;
  left: 21vw;
  width: 57vw;
}

.phone-number {
  color: #ff003d;
}

.home-content a {
  position: absolute;
  z-index: 2;
  background-color: #ff003d;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #ffffff;
  top: 58vh;
  left: 35vw;
  align-items: center;
}

.home-content a:hover {
  background-color: #3b3b3b;
  color: #ffffff;
}

.home-content div {
  color: #ffffff;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 66vh;
  left: 27vw;
}

.home-content h3 {
  font-size: 2rem;
}

.home-content h2 {
  font-size: 2.5rem;
}

/*WHY ME*/

#about {
  height: 100vh;
}

#about h1 {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 30px;
}

#about img {
  width: 50%;
  margin-left: 86px;
}

.qualifications {
  margin-top: 30px;
  margin-bottom: 30px;
}

.money {
  margin-top: 57px;
  margin-bottom: 57px;
}

.moving {
  margin-bottom: 20px;
}

#about h3 {
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1.5px;
}

#about ul {
  padding-bottom: 20px;
}

#about li {
  padding-bottom: 10px;
}

#about a {
  border: 2px solid #ff003d;
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 1.1rem;
  margin-left: 30%;
  color: #ff003d;
}

#about a:hover {
  color: #ffffff;
  background-color: #ff003d;
  text-decoration: none;
}

.about-border {
  border-bottom: 5px solid #222328;
  padding-bottom: 50px;
}

/*RENTING PROBLEMS*/

#problems{
  height: 100vh;
}

#problems h1{
  padding-top: 16vh;
  width: 100%;
  border-bottom: 3px solid #00ccc3;
  padding-bottom: 1.5vh;
}

#problems h2{
  padding: 2vh 0;
}

#problems h3{
  padding-bottom: 1vh;
  padding-top: 2vh;
}

/*CONTACT*/

#contact{
  padding-top: 17vh;
  padding-bottom: 10vh;
}

#contact h1{
  padding-bottom: 3%;
  text-align: center;
}

.form-row{
  width: 160%;
}

.input, .select, .textarea{
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.input input{
  height: 50px;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #f6f6f6;
  font-size: 14px;
  margin-bottom: 30px;
  background-color: #f6f6f6;
}

.select select{
  width: 100%;
  height: 50px;
  border-color: #f6f6f6 !important;
  background-color: #f6f6f6 !important;
  margin-bottom: 30px;
  font-size: 14px;
}

textarea{
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #f6f6f6;
  font-size: 14px !important;
  margin-bottom: 30px !important;
  background-color: #f6f6f6;
}

.btn-custom{
  background-color: #ff003d;
  color: #ffffff;
  margin-left: 70%;
  font-size: 20px !important;
  padding: 10px 30px !important;
  font-weight: lighter !important;
  letter-spacing: 2px;
}

footer {
  padding: 50px;
  text-align: center;
  background-color: #3b3b3b;
  color: #ffffff;
}

footer img {
}
